* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background-color: #EEEEEE;
    color: #393E46;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #222831;
    color: #EEEEEE;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 7%;
    margin-left: 1.5%;
    float: left;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.form-container {
    background: #FFFFFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
}

/* Input group styles */
.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #00ADB5;
}

input[type="email"] {
    width: 100%;
    padding: 0.75rem 1rem;
    margin: 0.5rem 0;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus {
    border-color: #00ADB5;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #00ADB5;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008A90;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #222831;
    color: #EEEEEE;
    text-align: center;
    padding: 1rem;
    position: fixed; /* Changed from absolute to fixed */
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Initially translated */
    animation: fadeUp 2s forwards ease-in-out; /* Apply the fade-up animation */
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .form-container {
        padding: 3rem;
    }
}
